body{
  background-color: red;
}

#game{
    background-color: aqua;
    margin-left: 15%;
}


#darkener{
  background-color:#000;
  width: game.width;
}

#oltop{
  background-color:#000;
  width: game.width;
  height: 10px;
}
}

#olbot{
  background-color:#000;
  width: game.width;
  height: 10px;
}